body {
  background:#fff;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#toolbar {
  margin: 0px;
  padding: 5px;
  color: #333;
  background-color: var(--vscode-editor-background);
  white-space: nowrap;
}

#toolbar-left {
  width: calc(100% - 260);
}

#toolbar-right {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 270px;
  height: 32px;
  padding-left: 5px;
}

#toolbar a {
  color: dodgerblue;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
}

#title {
  padding-left: 5px;
}

#message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
  font-size: 11pt;
  text-align: center;
}

/* hide vega embed actions menu */
.vega-embed {
  padding-right: 0px !important;
}
.vega-embed summary {
  display: none !important;
}

#vis {
  padding: 5px;
}
