<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * 'unsafe-inline' 'unsafe-eval'; frame-src *;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vega Preview</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@4.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc10"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <style>
      body {
        background: white;
        margin: 0;
      }
      /* hide vega embed actions menu */
      .vega-embed {
        padding-right: 0px !important;
      }
      .vega-embed summary {
        display: none !important;
      }
      .error-container {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: red;
        font-size: 12pt;
        justify-self: center;
      }
    </style>
  </head>
  <body>
    <div id="vis"></div>
    <div class="error-container">
      <div id="errors"></div>
    </div>  
    <script type="text/javascript">
      // start with blank vega spec
      let spec = {
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 400,
        "height": 200,
        "padding": 5
      };

      // get errors display container
      const errors = document.getElementById('errors');

      // create vega embed view
      let view = preview(spec);

      // vega spec update handler
      window.addEventListener('message', event => {
        try {
          spec = JSON.parse(event.data.spec);
          console.log('spec:', spec);
          errors.innerText = '';
          view = preview(spec);
        }
        catch (error) {
          console.error(error);
          errors.innerText = error.message;
        }
      });

      function preview(spec) {        
        vegaEmbed('#vis', spec)
        .then (result => {
          // console.log(result);
          return result.view;
        })
        .catch (error => {
          console.error(error);
          errors.innerText = error.message;
          return null;
        });
      }
    </script>
  </body>
</html>