<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval'; img-src vscode-resource: https:; connect-src vscode-resource: https:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vega Preview</title>
    <meta name="description" content="Vega is a declarative format for creating, saving, and sharing visualization designs. With Vega, visualizations are described in JSON, and generate interactive views using either HTML5 Canvas or SVG.">
    <base href="https://vega.github.io/" target="_blank" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vega@4.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc10"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <style>
      body {
        background: white;
        margin: 0;
      }
      /* hide vega embed actions menu */
      .vega-embed {
        padding-right: 0px !important;
      }
      .vega-embed summary {
        display: none !important;
      }
      #message {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: red;
        font-size: 12pt;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="vis"></div>
    <div id="message">Loading Vega spec preview...</div>
    <script type="text/javascript">
      // start with blank vega spec
      let vscode, view, message, data;
      let spec = {
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 400,
        "height": 200,
        "padding": 5
      };

      // create custom vega data loader
      const vegaLoader = vega.loader();
      const dataLoader = vega.loader();
      dataLoader.load = (uri) => {
        if (uri.startsWith('http')) {
          return vegaLoader.load(uri);
        }
        return new Promise((resolve, reject) => {
          if (data !== undefined && data[uri]) {
            resolve(data[uri]);
          }
          else {
            message.innerHTML += `<p>${uri} doesn't exist</p>`;
            reject(`${uri} doesn't exist`);
          } 
        });
      };

      // display blank vega spec on webview content loaded
      document.addEventListener('DOMContentLoaded', event => {
        // get message display container
        message = document.getElementById('message');
        // create blank vega embed view
        view = preview(spec);
        try {
          // notify webview
          vscode = acquireVsCodeApi();
          vscode.postMessage('refresh');
        }
        catch (error) {
          // ignore: must be loaded outside of vscode webview
        }
      });

      // vega spec update handler
      window.addEventListener('message', event => {
        try {
          spec = JSON.parse(event.data.spec);
          data = event.data.data;
          view = preview(spec);
        }
        catch (error) {
          console.error('vega.viewer:', error.message);
          message.innerText = error.message;
        }
      });

      // vega preview update
      function preview(spec) {
        message.innerHTML = ''; // 'Loading Vega spec preview...';
        vegaEmbed('#vis', spec, {loader: dataLoader})
        .then (result => {
          return result.view;
        })
        .catch (error => {
          console.error('vega.viewer:', error.message);
          message.innerHTML = error.message;
          return null;
        });
      }
    </script>
  </body>
</html>